.container {
    display: flex;
    flex-direction: row;
}

.top-board-list {
    display: flex;
    flex-direction: row;
    text-align: center;
    margin: 0;
    padding: 0;
}

.top-board-list > a {
    flex-grow: 0;
    margin: 1px 6px;
}
.container-item {
    margin: 5px;
    flex-grow: 1;
    padding: 2px 10px;
    border: 1px solid black;
}

.board-list {
    display: flex;
    flex-direction: column;
}

.board-description {
    text-align: center;
    font-style: italic;
}

.thread-container {
    margin: 10px;
    display: flex;
    flex-direction: column;
    width: 50%;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.post-form {
    display: flex;
    flex-direction: column;
    width: 20%;
}

.thread-preview-container {
    display: flex;
    flex-direction: row;

    margin: 15px;
    border-top: 1px solid dodgerblue;
    border-collapse: collapse;
}

.thread-preview-info-bottom {
    flex-grow: 1;
    display: flex;
    align-items: flex-end;
}

.thread-preview-info {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.thread-contents {
    margin: 10px;
}
.board-header {
    text-align: center;
}

.rules {
    text-align: center;
    border: 1px solid black;
}

h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 3px 1px;
}

.post-container {
    margin: 1%;
}

.post-item {
    display: flex;
    flex-direction: column;
    margin: 25px;
    width: 60%;
    border-top: 1px solid dodgerblue;
    border-collapse: collapse;
}

.attachment-container {
    margin: 10px 0;
    display: flex;
    flex-direction: column;
}

.attachment-container > span {
    text-align: center;
}

body {
    background-color: rgba(243, 243, 243, 0.98);
}

.create-new-thread-container {
    display: flex;
    width: 75%;
    flex-direction: column;
    margin: 1%;
    align-items: stretch;
}
