{{define "title"}}{{.Board.ShortCode}} - {{.Board.Name}}{{end}}

{{define "body"}}
<h2 class="board-header"><a href="/{{.Board.ShortCode}}">{{.Board.ShortCode}} - {{.Board.Name}}</a></h2>
<h5 class="board-description">{{.Board.Description}}</h5>
{{ if .Board.IsNotWorksafe}}

{{end}}


{{ $b := .Board }}
<div class="thread-container">
    <h3><a class="button" href="/{{$b.ShortCode}}/createthread">Create thread</a></h3>

{{ range $t := .Threads }}
    <div class="thread-preview-container">
        <div>
        {{if $t.IsVideo}}
            <video controls muted loop preload="metadata" class="t-media">
                <source src="{{$t.ThumbnailLocation}}" type="video/webm">
            </video>
        {{else}}
            <a href="/{{$b.ShortCode}}/{{$t.ID}}"><img src="{{$t.ThumbnailLocation}}" class="t-media"></a>
        {{end}}
        </div>

        <div class="thread-preview-info">
            <span>{{ $t.CreatedAt }} - <strong>{{ $t.Subject }}</strong></span>
            <span>{{ $t.Description }}</span>
            <div class="thread-preview-info-bottom">
                <span>R: #</span>
                <span>I: #</span>
                <a class="button" href="/{{$b.ShortCode}}/{{$t.ID}}">Reply/view</a>
            </div>
        </div>
    </div>
{{ end }}

</div>
{{end}}