{{define "title"}}{{.Board.ShortCode}} - {{.Board.Name}}{{end}}

{{define "body"}}
<h2 class="board-header">{{.Board.ShortCode}} - {{.Board.Name}}</h2>
<h5 class="board-description">{{.Board.Description}}</h5>


{{ $b := .Board }}
<div class="thread-container">
    <h3><a href="/{{$b.ShortCode}}/createthread">Create thread</a></h3>

{{ range $t := .Threads }}
    <div class="thread-preview-container">
        <div>
        {{if $t.IsVideo}}
            <video controls muted loop preload="metadata">
                <source src="{{$t.ThumbnailLocation}}" type="video/webm">
            </video>
        {{else}}
            <img src="{{$t.ThumbnailLocation}}">
        {{end}}
        </div>

        <div class="thread-preview-info">
            <span>{{ $t.CreatedAt }} - <strong>{{ $t.Subject }}</strong></span>
            <span>{{ $t.Description }}</span>
            <div class="thread-preview-info-bottom">
                <span>R: #</span>
                <span>I: #</span>
                <a href="/{{$b.ShortCode}}/{{$t.ID}}">Reply/view</a>
            </div>
        </div>
    </div>
{{ end }}

</div>
{{end}}