{{define "title"}}{{.Board.ShortCode}} - new thread{{end}}

{{define "body"}}
{{ $b := .Board }}
<div>
    <h2 class="board-header"><a href="/{{.Board.ShortCode}}">{{.Board.ShortCode}} - {{.Board.Name}}</a></h2>
    <h5 class="board-description">{{$b.Description}}</h5>
    <div class="create-new-thread-container">
        <h2>Create new thread</h2>
        <span>Please read the board rules at <a href="#">TODO</a></span>

        <form action="/{{$b.ShortCode}}/newthread" method="post"
              enctype="multipart/form-data" class="post-form"
              style="width:100%;margin:5px;">
            <input type="text" name="subject" placeholder="enter thread subject">
            <textarea id="posttext" name="description" placeholder="enter thread description"
                      rows="10" cols="10"></textarea>


            <span>You must provide either an URL or upload image/video to create a thread</span>

            <input type="text" name="url" placeholder="enter url">
            <span>OR</span><br>
            <input id="fileinput" type="file" name="f" accept="{{.Board.AttachmentTypes}}"
                   placeholder="select file">
            <input type="submit" value="Post">
        </form>
    </div>
    <script>
        'use strict';
        var pt = document.getElementById('posttext');
        var fi = document.getElementById('fileinput');

        ['dragenter', 'dragstart', 'dragend', 'dragleave', 'dragover', 'drag', 'drop'].forEach(en => {
            pt.addEventListener(en, function (e) {
                e.stopPropagation();
                e.preventDefault();
            });
        });

        pt.addEventListener('drop', function (e) {
            if (e.dataTransfer.files.length < 2) {
                fi.files = e.dataTransfer.files;
            }
        });
    </script>
</div>
{{end}}

