.app-container {
  display: flex;
  flex-flow: column;
  height: 100%;
  width: 100%;
  background-color: green;
}

.sidenav-container {
  flex: 1;
}

.right-toolbar {
  display: flex;
  flex-direction: row;
}

.fill-remaining-space {
  flex: 1 1 auto;
}

.sidenav-content {
  flex: 1;
  display: flex;
}

mat-toolbar {
  justify-content: flex-start;
}
